/* Reset and Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    background-color: #181818; /* Obsidian's Dark Background */
    color: #C8C8C8; /* Obsidian's Light Text */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 8px 12px; /* Slight adjustment to padding */
    font-size: 20px;
    background-color: #181818; /* Obsidian's Dark Background */
    margin-bottom: 16px;
    color: #C8C8C8; /* Obsidian's Light Text */
    border: none;
}

.chat {
    width: 90%;
    padding: 20px;
}

.history {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.history-user-message {
    width: 100%;
    padding: 20px;
    background-color: #181818; /* Obsidian's Dark Background */
}

.history-chat-response {
    width: 100%;
    border-radius: 4px;
    background-color: #202020; /* Slightly different dark background */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.user-message {
    width: 100%;
    background-color: #202020; /* Slightly different dark background */
    padding: 20px;
}

.user-input {
    width: 100%;
}

#user-input-text:focus {
    border: none;
    outline: none;
}
